import * as S from './{{name}}Styles';

const {{pascalCase name}} = () => {
  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
    </S.Container>
  );
};

export default {{pascalCase name}};
